.BlogItem {
    border: 1px solid black;
    width: 30%;
    margin: 5px 0px;
    height: 200px;
    border-radius: 5px;
    padding: 2px;
}

.BlogItem h3 {
    font-size: 1rem;
}

.blog-item {
    align-self: center;
}
