.BlogItem {
    width: 100%;
    margin: 5px 0px;
    min-height: 200px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(231, 225, 225);
    color: black;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.411);
}

.BlogItem h3 {
    font-size: 1rem;
    margin-top: 0;
}

.blog-item {
    align-self: center;
}

.blog-link {
    color: darkslategray;
    text-decoration: underline;
}

.blog-item-img {
    width: 100%;
}

.blog-date {
    font-size: 12px;
    margin:5px;
}

@media only screen and (min-width: 550px) {
    .BlogItem {
        width: 30%;
    }
}   