.PageLayout {
    background-color: rgb(62, 128, 145);
}

.PageContent {
    white-space: pre-line;
    padding: 50px 7%;
    margin: 50px 5%;
    color: white;
    font-size: 18px;
}

.PageContent a {
    color: #ede576;
}

.PageContent a:hover {
    color: #ede57673;
}

@media (min-width: 700px) {
    .PageContent {
        margin: 60px 10%;
    }
}