.BlogSection {
    padding: 40px 0px;
    background-color: lightgrey;
}

.blog-display {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

@media only screen and (min-width: 550px) {
    .blog-display {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}   