.BlogSection {
    padding: 50px 0px;
    color: white;
    background-color: rgb(62, 128, 145);
}

.blog-display {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

@media only screen and (min-width: 550px) {
    .blog-display {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}   