.MainHeader {
    padding: 30px 10px;
    background-color: rgb(231, 225, 225);
}

.main-info {
    /* padding: 25px; */
    font-size: 20px;
}

.main-header {
    text-align: center;
    margin: 0px;
    font-size: 35px;
}
.container1 {
    margin: 0 10px;
}

.main-text {
    text-align: left;
}

.company {
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    /* color: rgb(34, 71, 80); */
    color:rgb(56, 124, 141);
}


@media only screen and (min-width: 600px) {
    .main-header {
        font-size: 50px;
    }
    .main-info {
        padding: 25px;
    }
    .container1 {
        margin: 0 10%;
    }
}