.MainHeader {
    padding: 30px 0px;
    background-color: rgb(226, 225, 225);
}

.main-info {
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
    padding: 20px;
    font-size: 20px;
    /* background-color: rgb(226, 225, 225); */
}

.main-header {
    text-align: center;
    margin: 0px;
    font-size: 50px;
}

.company {
    font-weight: bold;
}
