.WhatWeDoItem {
    width: 100%;
    margin: 50px 5px;
    padding: 30px 10%;
    /* background-color: rgb(226, 225, 225); */
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
    border-bottom: 1px solid lightgray;
}

.item {
    display: block;
    justify-content: space-between;
}

.itemImg {
    width: 40%;
}

.itemTitle {
    font-size: 30px;
}

.itemDesc {
    font-size: 20px;
    align-self: center;
    padding: 0px 20px;
    width: 60%;
    margin: auto;
}

@media only screen and (min-width: 1050px) {
    .item {
        display: flex;
        justify-content: space-around;
    }
    .itemDesc {
        width: 40%;
        margin: 0px;
    }
}

