.WhatWeDoItem {
    display: inline-block;
    border: 1px solid black;
    width: 25%;
    margin: 5px 5px;
    border-radius: 5px;
}

.itemImg {
    width: 100%;
}

.itemTitle {
    font-size: 20px;
}

.itemDesc {
    padding: 0px 10px;
}