.ContactForm {
    padding: 50px 0px;
    background-color: darkgrey;
}

.form-container {
    padding: 20px 0px;
    border: 1px solid black;
    border-radius: 5px;
}

.contact-form-item {
    margin: 5px 0px;
}

.month-input {
    width: 20px;
    border: none;
    border-radius: 3px;
    margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}