.Jumbotron {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/4xR69RT.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Jumbotron h2 {
    font-size: 3em;
    margin-top: 0;
}

.Jumbotron .btn {
    display: block;
    width: 200px;

    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    text-decoration: none;
    font-size: 1.5em;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background: #4B99AD;
	padding: 8px 15px 8px 15px;
  	color: #fff;
}

.Jumbotron .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    background: #4691A4;
}

.jumbo-container {
    position: relative;
    text-align: center;
    display: block;
}

.jumbo-text {
    margin-bottom: 150px;
}

.text-2 {
    display: block;
}

.headerImg {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.learn {
    margin-bottom: 10px;
    font-size: 20px;
}

.down-arrow {
    font-size: 50px;
}

.down-arrow:hover {
    color: rgb(202, 202, 202);
}

@media only screen and (min-width: 700px) {
    .Jumbotron h2 {
        font-size: 5em;
        margin-bottom: 0.5em; 
    }
    .jumbo-text {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1000px) {
    .text-2 {
        display: inline;
    }
}