.footer {
    background-color: rgb(231, 225, 225);
    padding: 10px 0px 0px 0px;
    color:rgb(29, 60, 68);
    font-size: 18px;
}

.links {
    margin: 0px auto;
    display: inline;
}

.links .footer-statement{
    text-align: center;
    margin: 10px 10px;
}

.footer-statement p {
    margin-top: 0px;
}

.first {
    margin-bottom: 15px;
}

.links-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 10px 10%;
}

.flags {
    width: 20%;
    height: 5%;
}

.logo-flag {
    width: 30%;
    height: 5%;
}

.flag-div {
    padding: 30px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    padding: 30px 5%;
}

.contact-link {
    font-size: 100%;
    color: rgb(29, 60, 68);
}

.contact-link:hover {
    color: rgba(29, 60, 68, 0.459);
}

.page-link {
    font-size: 100%;
    color: rgb(29, 60, 68);
    text-decoration: none;
}

.page-link:hover {
    color: rgba(29, 60, 68, 0.459);
}

h5 {
    margin: 0;
}

.social {
    display: block;
    /* margin: 16px auto; */
    margin: 12px auto;
    color: rgb(29, 60, 68);
    font-size: 30px;
    text-align: center;
}

.social:hover {
    color: rgba(29, 60, 68, 0.459);
}

.link-header {
    color: rgb(62, 128, 145);
    font-weight: bold;
    margin: 0px;
}

@media only screen and (min-width: 550px) {
    .links {
        text-align: left;
        margin: 10px 20px;
        width: auto;
    }
    .first {
        margin-left: 0px;
    }
    
    .links-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    .flags {
        width: 10%;
        height: 5%;
    }

    .footer-statement {
        width: 50%;
        text-align: left;
        margin: 10px 20px;
    }
    .social {
        margin: 10px 0px;
        width: auto;
    }
} 

@media only screen and (min-width: 1000px) {
    .social {
        text-decoration: none;
    }
    .about-footer{
        display: none;
    }
}