.Nav {
    box-shadow: 0 8px 6px -6px black;
}

.navbar {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 15px 20px -10px rgba(17, 17, 17, 0.562);
}

.nav-logo {
    width: 50%;
}

.nav-links {
    display: none;
}

.button {
    text-decoration: none;
}

.brand  {
    font-family: 'Orbitron', sans-serif;
    color: rgb(55, 112, 126);
    padding: 5px;
    margin: 5px;
}

.brand-div {
    display: flex;
}

.new-england {
    display: block;
}

@media (min-width: 500px) and (max-width: 1000px) {
    .navbar {
        text-align: center;
    }
    .nav-logo {
        width: 35%;
    }
}

@media only screen and (min-width: 700px) {
    .new-england {
        display: inline;
    }
}


@media only screen and (min-width: 1000px) {
    .navbar {
        text-align: left;
        padding: 10px 10%;
        justify-content: space-between;
    }
    .nav-logo {
        width: 20%;
    }
    .nav-links {
        display: flex;
        align-items: center;
    }
    .button {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        background: #4B99AD;
	    padding: 8px 15px 8px 15px;
  	    color: #fff;
    }
    
    .button:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        background: #4691A4;
    }
}