.navbar {
    text-align: center;
    padding: 5px 10%;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    width: 50%;
}

.nav-links {
    display: none;
}

.button {
    text-decoration: none;
}

@media (min-width: 500px) and (max-width: 1000px) {
    .nav-logo {
        width: 35%;
    }
}

@media only screen and (min-width: 1000px) {
    .navbar {
        text-align: left;
    }
    .nav-logo {
        width: 20%;
    }
    .nav-links {
        display: flex;
        align-items: flex-end;
    }
    .button {
        background: linear-gradient(135deg, #2584bb, rgb(19, 21, 168));
        color: #fff;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid grey;
        margin: 5px;
    }
    
    .button:hover {
        background: linear-gradient(135deg, #2584bb81, rgba(19, 21, 168, 0.514));
        border: 1px solid rgba(128, 128, 128, 0.445);
    }
}