.navbar {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 0px;
}

.nav-link {
    margin: 0;
}

.nav-logo {
    width: 50%;
}

@media only screen and (min-width: 500px) {
    .navbar {
        text-align: left;
    }
    .nav-logo {
        width: 20%;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    .nav-logo {
        width: 35%;
    }
}